@using Application.ViewModels
@model IQueryable<Employee_Job_ViewModel>

<table class="mt-4 table table-hover">
    <thead>
        <tr>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model)
        {
            <tr>

                <th>@item.EmployeeName</th>
                <th>@item.EmployeeSurname</th>
                <th>@item.JobName</th>
                @if (item.IsOk == true)
                {
                    <th>Basvurunuz Onayladı Tebrikler</th>
                }
                @if (item.IsRed == true)
                {
                    <th>Basvurunuz Onaylanmadı</th>
                }

            </tr>
        }

    </tbody>

</table>